body {
	margin: 0;
	background-color: $purp-bg;
}

#content {
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

.htmx-indicator {
}

.htmx-request {
}
