html, body {
	min-height: 100%;
}

body {
	margin: 0;
	padding-bottom: 70px;
	background: $body-img, $body-bg;
	color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: $heading-color;
}

.hidden {
	display: none;
}

.text-right {
	text-align: right;
}

.float-right {
	float: right;
}

#content, .container {
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	padding: 15px 0;
	box-sizing: border-box;
	border: 0;

	header {
		h1, h2, h3, h4, h5, h6 {
			display: inline-block;
			margin-right: 10px;
		}
	}
}
