form.new-performance {
	fieldset.characters {
		padding: 10px 0;

		.character {
			padding-bottom: 20px;
			//margin: 10px 0;
			margin-bottom: 8px;
			/*background-color: #fafafa;*/

			&:nth-child(even) {
				//background-color: $purp-bg-alt2;
				background-color: $dark-blue;
				color: $light-blue;
			}

			.delete-character {
				float: right;
				margin-right: 10px;
			}
		}
	}

	#add-character {
		margin-right: 10px;
	}
}
