header#performance-header {
	position: sticky; //@REVISIT browser support?
	top: 0px;
	padding: 15px;
	//background-color: $purp-bg;
	background-color: $purp-bg-alt;

	h2 {
		display: inline-block;
		margin-right: 10px;
	}

	//#delete-performance {
	//    display: none;
	//}

	//&:hover {
	//    #delete-performance {
	//        display: inline-block;
	//    }
	//}
}

//#performance-controls {
//    position: sticky; //@REVISIT browser support?
//    top: 0px;
//    padding: 15px;
//    background-color: $purp-bg;
//}

form#edit-script-form {
	display: inline-block;
}

#performance-script-text {
	padding: 15px;

	&.editing {
		background-color: $purp-bg-alt;
	}
}

.characters {
	.character {
		padding: 10px;
		//margin: 10px 0;
		margin-bottom: 8px;
		/*background-color: #fafafa;*/
	}

	//.character:nth-child(even) {
	//    background-color: $purp-bg-alt;
	//}
}

.htmx-indicator {
	position: absolute;
}
