<div class="character">
	<div class="form-group">
		<label for="character_name">Character Name</label>

		<input
			type="text"
			class="form-control"
			id="character_name"
			name="character_names[]"
			placeholder="MAGIC DONKEY">
	</div>

	<div class="form-group">
		<label for="character_description">Character Description</label>

		<textarea
			class="form-control"
			id="character_description"
			name="character_descriptions[]"
			rows="3"
			placeholder="A magical donkey capable of unfathomable power."></textarea>
	</div>

	<div class="text-right">
		<a
			hx-delete="{% url 'delete_character' 1 %}"
			hx-target="closest .character"
			hx-swap="outerHTML"
			class="btn btn-danger btn-small"
		>
			Delete Character
		</a>
	</div>
</div>

<div class="text-right">
	<button
		hx-post="{% url 'add_character' %}"
		hx-target="closest .text-right"
		hx-swap="outerHTML"
		class="btn btn-add btn-small"
	>
		+ Add Character
	</button>
</div>
