<div
	id="performance-controls"
	hx-swap="outerHTML"
	hx-target="this"
	hx-indicator=".htmx-indicator"
>
{% if service.running %}
	<button
		id="stop-performance"
		class="btn btn-danger"
		hx-post="{% url 'stop_performance' performance.id %}"
	>
		Stop Performance
	</button>

	<button
		id="generate-dialogue"
		hx-post="{% url 'generate_dialogue' performance.id %}"
		hx-target="#performance-script-text"
		hx-swap="outerHTML show:window:bottom"
	>
		Generate Dialogue
	</button>

	<button
		id="interrupt-audio"
		hx-post="{% url 'interrupt' performance.id %}"
	>
		Interrupt
	</button>

	<button
		id="toggle-microphone"
		hx-post="{% url 'toggle_microphone' %}"
		hx-target="#microphone-status"
		hx-swap="innerHTML"
	>
		Toggle Microphone Listen
	</button>
	<span id="microphone-status">
		{{ service.performance.is_listening|yesno:"On,Off" }}
	</span>
{% else %}
	<button
		id="start-performance"
		hx-post="{% url 'start_performance' performance.id %}"
	>
		Start Performance
	</button>
{% endif %}

	<form
		id="edit-script-form"
		hx-post="{% url 'edit_script' performance.id %}"
		hx-target="#performance-script-text"
		hx-swap="outerHTML"
	>
		<button
			id="edit-script"
			type="button"
			onclick="editScript()"
		>
			Edit Script
		</button>

		<button
			id="save-script"
			class="btn btn-add"
			type="button"
			style="display: none;"
			onclick="saveScript()"
		>
			Save Script
		</button>

		<input
			type="hidden"
			name="script_text"
			id="script-text-input"
			value="{{ performance.script }}" />
	</form>

	<div class="htmx-indicator">
		<div class="htmx-indicator-content">
			<div class="htmx-spinner">Loading…</div>
		</div>
	</div>
</div>
