<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>

		{% load static %}

		<link rel="stylesheet" href="{% static 'perform/perform.css' %}">
		<script src="{% static 'perform/htmx.min.js' %}"></script>
		{% comment %}<script src="{% static 'perform/_hyperscript.min.js' %}"></script>{% endcomment %}
		<script src="{% static 'perform/bot-aukerman-ui.js' %}"></script>

		{% block head %}{% endblock %}
	</head>

	<body
		hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
		data-page="{{ page }}"
		{% block body_attributes %}{% endblock %}
	>
		<nav id="main-menu">
			<a id="logo" href="{% url 'index' %}">Bot Aukerman</a>

			<ul>
				<li><a href="{% url 'create_performance' %}">New Performance</a></li>
				<li><a href="{% url 'index' %}">Performances</a></li>
			</ul>
		</nav>

		{% block content_header %}{% endblock %}

		<div id="content" class="{{ page }}">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
