{% extends "perform/base.html" %}

{% block title %}New Performance{% endblock %}

{% block content %}
<form
	class="new-performance"
	id="new-performance"
	method="post"
	action="{% url 'create_performance' %}"

	{% comment %}hx-get="{% url 'create_performance' %}"{% endcomment %}
	{% comment %}hx-post="{% url 'create_performance' %}"{% endcomment %}
	{% comment %}hx-target="#performance"{% endcomment %}
	{% comment %}hx-swap="outerHTML"{% endcomment %}
>
	{% csrf_token %}

	<h1>Perform</h1>

	<fieldset>
		<legend>Performance Title</legend>

		{% comment %}<label for="performance_title">Title</label>{% endcomment %}

		<input
			type="text"
			class="form-control"
			id="performance_title"
			name="performance_title"
			placeholder="Dim Magic"
		/>
	</fieldset>

	<fieldset>
		<legend>Scene Description</legend>

		{% comment %}<label for="scene_description">Scene Description</label>{% endcomment %}

		<textarea
			class="form-control"
			id="scene_description"
			name="scene_description"
			rows="3"
			placeholder="A magic donkey and a man sit in the middle of a hot desert."></textarea>
	</fieldset>

	<fieldset class="characters">
		<legend>Characters</legend>

		<div>
			{% include "perform/_add_character.html" %}
		</div>
	</fieldset>

	<fieldset>
		<legend>Starting Script</legend>

		<p>
			Providing an initial context script usually improves the output of
			most chatbots / <abbr>LLMs</abbr> (large-language models).
		</p>

		<textarea
			class="form-control"
			id="context"
			name="context_script"
			rows="10"
			placeholder="MAN: Well, this sucks.
MAGIC DONKEY: What?
MAN: Being stuck in the middle of the desert.
MAGIC DONKEY: Oh. Yeah.
MAN: Can't you magic up something to eat?"></textarea>
	</fieldset>

	<fieldset>
		<legend>Create</legend>

		<button type="submit" class="btn btn-primary" id="create-performance">
			Create Performance
		</button>
	</fieldset>
</form>

{% endblock %}
