{% extends "perform/base.html" %}

{% block title %}New Performance{% endblock %}

{% block content_class %}new-performance{% endblock %}

{% block content %}
<form
	class="new-performance"
	hx-post="{% url 'create_performance' %}"
	{% comment %}hx-target="#performance"{% endcomment %}
	hx-swap="outerHTML"
>
	<h1>Perform</h1>

	<fieldset>
		<legend>Performance</legend>

		<label for="performance_title">Title</label>

		<input
			type="text"
			class="form-control"
			id="performance_title"
			name="performance_title"
			placeholder="Dumb Ass"
		/>
	</fieldset>

	<fieldset>
		<legend>Scene</legend>

		<label for="scene_description">Scene Description</label>

		<textarea
			class="form-control"
			id="scene_description"
			name="scene_description"
			rows="3"
			placeholder="A magic donkey and a man sit in the middle of a hot desert."></textarea>
	</fieldset>

	<fieldset>
		<legend>Characters</legend>

		<div class="characters">
			{% include "perform/_add_character.html" %}
		</div>
	</fieldset>

	<fieldset>
		<legend>Starting Script</legend>

		<label>
			Providing an initial context script usually improves the output of
			most chatbots / <abbr>LLMs</abbr> (large-language models).
		</label>

		<textarea
			class="form-control"
			id="context"
			name="context_script"
			rows="5"
			placeholder="MAN: Well, this sucks.
MAGIC DONKEY: What?
MAN: Being stuck in the middle of the desert.
MAGIC DONKEY: Oh. Yeah.
MAN: Can't you magic up something to eat?"></textarea>
	</fieldset>

	<fieldset>
		<legend>Create</legend>

		<button type="submit" class="btn btn-primary" id="create-performance">
			Create Performance
		</button>
	</fieldset>
</form>

{% endblock %}
