{% extends "perform/base.html" %}

{% block title %}Bot Aukerman{% endblock %}

{% block content %}
<header>
	<h2>Performances</h2>
	<a href="{% url 'create_performance' %}" class="btn btn-add btn-sup">
		+ Create Performance
	</a>
</header>

{% if performances %}
	<ul class="performances">
		{% for performance in performances %}
			<li class="performance">
				<a href="{% url 'performance' performance.id %}">
					{% if performance.title %}
						{{ performance.title }}
					{% else %}
						{{ performance.id }} (Untitled)
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No performances yet.</p>
{% endif %}
{% endblock %}
