{% extends "perform/base.html" %}

{% block title %}Bot Aukerman{% endblock %}

{% block content_class %}index{% endblock %}

{% block content %}
<h2>Performances</h2>

<a href="{% url 'create_performance' %}">Create Performance</a>

{% if performances %}
	<ul>
		{% for performance in performances %}
			<li>
				<a href="{% url 'performance' performance.id %}">
					{% if performance.title %}
						{{ performance.title }}
					{% else %}
						{{ performance.id }} (Untitled)
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No performances yet.</p>
{% endif %}
{% endblock %}
