{% extends "perform/base.html" %}
{% block title %}Performance{% endblock %}
{% block body_attributes %}data-performance-id="{{ performance.id }}"{% endblock %}

{% block content_header %}
<header id="performance-header">
	<div class="container">
		<h2>{{ performance.title }}</h2>

		<button
			id="delete-performance"
			class="btn btn-delete btn-small btn-sup"
			type="button"
			hx-delete="{% url 'delete_performance' performance.id %}"
			hx-target="#performance-controls"
			hx-swap="outerHTML"
		>
			Delete Performance
		</button>

		<p>
			<em>{{ performance.scenes.last.description }}</em>
		</p>

		{% include "perform/_performance_controls.html" %}
	</div>
</header>
{% endblock %}

{% block content %}
<div id="performance-characters">
	{% comment %}<h3 _="on click toggle .hidden on #character-list">{% endcomment %}
	<h3>
		Characters
	</h3>

	<div id="character-list" class="characters">
	{% for character in performance.characters.all %}
		<div class="character">
			<h4>{{ character.name }}</h4>

			{% if character.description %}
				{{ character.description }}
			{% endif %}
		</div>
	{% endfor %}
	</div>
</div>

{% comment %}<div id="performance-status">         {% endcomment %}
{% comment %}    <h3>Performance Status</h3>       {% endcomment %}

{% comment %}    <div id="performance-status-text">{% endcomment %}
{% comment %}        {{ performance_status_text }} {% endcomment %}
{% comment %}    </div>                            {% endcomment %}
{% comment %}</div>                                {% endcomment %}

{% comment %}<div id="performance-logs">           {% endcomment %}
{% comment %}    <h3>Performance Logs</h3>         {% endcomment %}

{% comment %}    <div id="performance-logs-text">  {% endcomment %}
{% comment %}        {{ performance_logs_text }}   {% endcomment %}
{% comment %}    </div>                            {% endcomment %}
{% comment %}</div>                                {% endcomment %}

<div id="performance-script">
	<h3>Script</h3>

	{% include "perform/_performance_script.html" %}
</div>

<div id="hotkeys">
	<ul>
		<li>
			<kbd>Ctrl</kbd> + <kbd>Enter</kbd> - Generate Bot Dialogue
		</li>

		<li>
			<kbd>Ctrl</kbd> + <kbd>M</kbd> - Toggle Microphone Listen
		</li>

		<li>
			<kbd>Ctrl</kbd> + <kbd>Space</kbd> - Interrupt Audio
		</li>
	</ul>
</div>
{% endblock %}
